<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/home.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <h2>Sociall</h2>
            <a href="/"><button class="loginbtn">Signup</button></a>
        </div>
        <div class="centerdiv">
            <div class="left"></div>
            <div class="right" style="padding: 120px 80px;">
                <h1>Welcome</h1>
                <h3>Berries gathering</h3>
                <form id="login-form">
                    <input id="email" class="signupinput" name="email" type="text" placeholder="email address">
                    <input id="password" class="signupinput" name="password" type="password" placeholder="password">
                    <button type="submit" id="submit" class="signupbtn">Login</button>
                    <a href="" class="btma"> Signup Instead </a>
                </form>
            </div>
        </div>
    </div>

    <script src="../../js/login.js"></script>
</body>
</html>